{% extends 'hack/single.html' %}
{% load static %}
{% block content %}
    <div class="site-section-cover overlay inner-page bg-light" style="background-image: url('/static/images/Binary.jpg')" data-aos="fade">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-10">
  
              <div class="box-shadow-content">
                <div class="block-heading-1">
                  <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">FAQs</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <section class="site-section">
      <div class="container">
        <div class="row site-section" id="faq-section">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title text-primary">Frequently Ask Questions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">What are Criminal Records Expungement?</h3>
            <p>Expungement is a court-ordered process in which legal record of an arrest or a criminal conviction is "sealed" or erased in the eyes of the law.</p>
            <p>When a conviction is expunged, The process may also be reffered to as "Setting aside a criminal conviction."</p>
            </div>
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">What do bitcoin miners do?</h3>
              <p>The role of miners is to secure the network and to process every Bitcoin transaction.</p>
              <p>Miners achieve this by solving computational problems which allows them to chain together blocks of transactions (hence Bitcoin's famous "blockchain").</p>
            </div>

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">Is hacking even a real thing?</h3>
              <p>Hackers exposed the personal information of 110 million people in 2013 and 2014, nearly half the nation's adult.</p>
              <p>In those years, more than 40 million credit and debit card numbers were stolen in a single attack against Target. Yahoo had all 30 billion of its accounts hacked. So yes, it quite real.</p>
            </div>
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">Can credit card debt result in jail sentence?</h3>
              <p>Some states-roughly a third-still use jail as a method to coerce debtors to pay certain debts.</p>
              <p>Today, you cannot go to prison for failing to pay for a "civil debt" like a credit card, loan, or hospital bill. You can however, be forced to go to jail if you don't pay your taxes or child support.</p>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">How can i trust you?</h3>
              <p>Our services are 100% guaranteed, carried out with outmost discretion and lethal accuracy. With over 2,000 satisfied long-term clients and years of hacking and programming experience, you can be sure of getting effective results on time, hassle free.</p>
              <p>Services can also be adapted to more effectively suit your needs. However, if the results don't meet expectations, you can easily request a refund.</p>
            </div>
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">How can i make payments?</h3>
              <p>Our payments methods  include Western union, Bitcoin and Ethereum.</p>
              <p>Certain methods are faster than others depending on your location and local currency. once you have made the decision to carry out the hack, you can contact us on any of our whatsapp contacts, or send an Email so we can walk you through the process.</p>
            </div>

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">More Questions?</h3>
              <p>Contact Us for more information on any services you require.</p>
            </div>
            
          </div>
        </div>
      </div>
    </section>
{% endblock %}